
*.prefs
*.index
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
*.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
*.xml
*.setup
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.lock
/.metadata/
